body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;

}

body {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}


.cv {
  position: relative;
  width: 100%;
  max-width: 1000px;
  background: #ffff;
  margin: 5rem;
  box-shadow: 0 50px 75px rgba(0, 0, 0, 0.1);
  border-left: 50px solid #ffff;
  border-right: 50px solid #fff;
}


.cv .top {
  position: relative;
  display: grid;
  grid-template-columns: 1fr, 2fr;
  padding: 40px;
  padding-bottom: 0px;

}

.cv .top {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;

}


.cv .top .imgbox .box {
  position: relative;
  width: 30%;
  min-width: 20vw;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1;

}

.cv .top .imgbox .box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.cv .top .profiletext {
  position: relative;
  padding: 140px;
  display: flex;
  align-items: center;

}

.cv .top .profiletext h3 {
  font-size: 3em;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  font-weight: 600;
  color: #333;
}

.cv .top .profiletext h3 span {
  position: relative;
  font-size: 0.5em;
  font-weight: 300;
  top: -10px;
  font-family: cursive;


}

.cv .contentbox {
  position: relative;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 40px 40px;
}

.cv .contentbox h3 {
  border-left: 4px solid #ff8bb3;
  padding-left: 10px;
  line-height: 1em;
  font-weight: 600;
  color: #333;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  margin-top: 50px;
  text-decoration: none;
}

.cv .contentbox ul {
  position: relative;
  margin: 10px 0;
}

.cv .contentbox .leftside li {
  list-style: none;
  margin: 25px 0;
  line-height: 1em;
  color: #333;
  cursor: pointer;
  display: flex;
}

.cv .contentbox .leftside ul li ion-icon {
  font-size: 1.2em;
  margin-right: 10px;
  color: blue;
}

.cv .contentbox ul.education li {
  flex-direction: column;
  margin: 25px 0;


}

h5 {
  color: blue;

}

h4 {
  color: #333;
  font-weight: 500;
  margin: 5px 0;

}

h6 {
  color: #666;
  font-weight: 300;
  font-size: 1em;

}

.language li span {
  color: #333;
  font-size: 16px;
  font-weight: 500;

}

.language .percent {
  position: relative;
  width: 100%;
  background: #e3e3e3;
  height: 6px;
  margin-top: 15px;
  margin-bottom: 10px;
  display: block;
  overflow: hidden;
}

.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: blue;
}


.cv .contentbox ul.interest {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.cv .contentbox ul .interest li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.cv .contentbox ul.interest li .icon {
  position: relative;
  width: 2vw;
  height: 4vh;
  background: blue;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.cv .contentbox ul.interest li .icon ion-icon {
  color: #fff;
  margin-right: 0;
}

p {
  font-style: 300;
}

.rightside {
  padding: 40px;
}


.cv .rightside .skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;

}

.cv .rightside .skills .box .percent {
  position: relative;
  width: 100%;
  height: 2vh;
  background: #e3e3e3;

}

.cv .skills .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: blue;

}

.cv .skills .box h4 {
  color: #333;
  font-weight: 500;
  margin-bottom: 5px;
}